

#landingImage {
	float: left;
	position: absolute;
	top: 180px;
	left: 380px;
	background-image: url(assets/land\ ill.png);
	width: 600px;
	height: 233px;
	background-size: cover;
	z-index: 5;
}

#landingCircle {
	float: left;
	position: absolute;
	top: 265px;
	left: 918px;
	width: 62px;
	height: 62px;
	z-index: 6;
}






#landingCircle2 {
	float: left;
	position: absolute;
	top: 265px;
	left: 918px;
	width: 62px;
	height: 62px;
	z-index: 6;
	transition: all 1.6s ease-in-out;
	transform: scale(34);
	transition-delay: .4s;
}

#haiku1Box {
	float: left;
	position: absolute;
	top: 140px;
	left: 165px;
	width: 680px;
	height: 240px;
	z-index: 7;
	color: #FFFFFF;
	animation: fadeIn 3s ease-in-out;
}

#haiku1Photo {
	float: left;
	position: absolute;
	top: 230px;
	left: 917px;
	background-image: url(assets/haiku\ 1\ ill.png);
	width: 53px;
	height: 282px;
	background-size: cover;
	z-index: 7;
	animation: fadeIn 3s ease-in-out;
}

#haiku1Circle1 {
	float: left;
	background-color: #E2C59A;
	position: absolute;
	top: 200px;
	left: 398px;
	z-index: 8;
	width: 170px;
	height: 85px;
	border-radius: 50%;
	animation: fadeIn 3s ease-in-out;
}

#haiku1Word {
	float: left;
	position: absolute;
	top: 140px;
	left: 413px;
	z-index: 9;
	width: 170px;
	height: 85px;
	color: white;
	animation: fadeIn 3s ease-in-out;
}






#haiku1Box2 {
	float: left;
	position: absolute;
	top: 140px;
	left: 165px;
	width: 680px;
	height: 240px;
	z-index: 7;
	color: #FFFFFF;
}

#haiku1Photo2 {
	float: left;
	position: absolute;
	top: 230px;
	left: 917px;
	background-image: url(assets/haiku\ 1\ ill.png);
	width: 53px;
	height: 282px;
	background-size: cover;
	z-index: 7;
}

#haiku1Word2 {
	float: left;
	position: absolute;
	top: 140px;
	left: 413px;
	z-index: 9;
	width: 170px;
	height: 85px;
	color: white;
}

#haiku1Circle2 {
	float: left;
	position: absolute;
	top: 200px;
	left: 398px;
	z-index: 8;
	width: 170px;
	height: 85px;
	border-radius: 50%;
	transition: all 1.6s ease-in-out;
	transform: scale(25);
	transition-delay: .4s;
}

#containerScreenYellow {
	width: 1285px; 
	height: 580px;
	overflow: hidden;
	position: relative;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: -10px;
	background-color: #E3A524;
}

#haiku2Box {
	float: left;
	position: absolute;
	top: -20px;
	left: 172px;
	width: 730px;
	height: 240px;
	z-index: 9;
	color: #FFFFFF;
	animation: fadeIn 3s ease-in-out;
}

#haiku2Photo {
	float: left;
	position: absolute;
	top: 294px;
	left: 683px;
	background-image: url(assets/haiku\ 2\ ill.png);
	width: 520px;
	height: 243px;
	background-size: cover;
	z-index: 9;
	animation: fadeIn 3s ease-in-out;
}

#haiku2Circle1 {
	float: left;
	background-color: #AAACD6;
	position: absolute;
	top: 200px;
	left: 398px;
	z-index: 9;
	width: 170px;
	height: 85px;
	border-radius: 50%;
	animation: fadeIn 3s ease-in-out;
}

#haiku2Word {
	float: left;
	position: absolute;
	top: 140px;
	left: 413px;
	z-index: 10;
	width: 170px;
	height: 85px;
	color: white;
	animation: fadeIn 3s ease-in-out;
}






#haiku2Box2 {
	float: left;
	position: absolute;
	top: -20px;
	left: 172px;
	width: 730px;
	height: 240px;
	z-index: 8;
	color: #FFFFFF;
}

#haiku2Photo2 {
	float: left;
	position: absolute;
	top: 294px;
	left: 683px;
	background-image: url(assets/haiku\ 2\ ill.png);
	width: 520px;
	height: 243px;
	background-size: cover;
	z-index: 8;
}

#haiku2Circle2 {
	float: left;
	position: absolute;
	top: 200px;
	left: 398px;
	z-index: 9;
	width: 170px;
	height: 85px;
	border-radius: 50%;
	transition: all 1.6s ease-in-out;
	transform: scale(25);
	transition-delay: .4s;
}

#haiku2Word2 {
	float: left;
	position: absolute;
	top: 140px;
	left: 413px;
	z-index: 10;
	width: 170px;
	height: 85px;
	color: white;
}

#containerScreenBeige {
	width: 1285px; 
	height: 580px;
	overflow: hidden;
	position: relative;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: -10px;
	background-color: #E2C59A;
}

#haiku3Box {
	float: left;
	position: absolute;
	top: 140px;
	left: 172px;
	width: 730px;
	height: 240px;
	z-index: 11;
	color: #FFFFFF;
	animation: fadeIn 3s ease-in-out;
}

#haiku3Photo {
	float: left;
	position: absolute;
	top: 280px;
	left: 750px;
	background-image: url(assets/haiku\ 3\ ill\ t.png);
	width: 400px;
	height: 300px;
	background-size: cover;
	z-index: 10;
	animation: fadeIn 3s ease-in-out;
}

#haiku3Circle1 {
	float: left;
	background-color: #AAACD6;
	position: absolute;
	top: 200px;
	left: 398px;
	z-index: 10;
	width: 170px;
	height: 85px;
	border-radius: 50%;
	animation: fadeIn 3s ease-in-out;
}

#haiku3Word {
	float: left;
	position: absolute;
	top: 140px;
	left: 413px;
	z-index: 12;
	width: 170px;
	height: 85px;
	color: white;
	animation: fadeIn 3s ease-in-out;
}













@keyframes fadeIn {
	0% {
	    opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
	    opacity: 1;
	}
    }



p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 45pt;
	margin-bottom: -60px;

}


#containerScreen {
	width: 1285px; 
	height: 580px;
	overflow: hidden;
	z-index: 80;
	position: relative;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: -10px;
}

a{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 45pt;
	color: white;
	text-decoration: none;
}

